@charset "utf-8";
@import "./node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css?family=Questrial|Tomorrow&display=swap');

html > body {
    margin: 0 !important;
  }
  
  .main-section {
    padding: 1rem 1rem;
  }
  
  .menu-list .active-link,
  .menu-list .router-link-active {
    color: #fff;
    background-color: $link;
  }
  
  .title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.125;
    word-break: break-word;
    font-family: $family-sans-serif;
    text-align: center;
  }
  .sub-title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    word-break: break-word;
  }
  
  header {
    font-weight: bold;
    font-family: Arial;

    .navbar-item.nav-menu {
      border: 3px solid transparent;
      border-radius: 0%;
      &:hover {
        border-right: 3px solid $primary-light;
        border-left: 3px solid $primary-light;
      }
    }
  }

  ul.list {
    box-shadow: none;
  }
  div.card-content {
    background-color: $shade-light;
    .content {
      font-size: 28px;
      color: #000;
    }
    .default-content {
      font-size:28px;
      color: $primary;
    }
  }
  .card {
    margin-bottom: 2em;
  }
  
  .card-footer button {
    font-size: 16px;
    i {
      margin-right: 10px;
    }
    color: #888;
    &:hover {
      color: $link;
    }
  }
  
  button.link {
    background: none;
    border: none;
    cursor: pointer;
  }
